<nav class="menu" >
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
          </label>
          <label class="logo moved1">Samrib Academy</label>
          <ul class="moved">
    <li><a class="AB" href="#about" onclick="scroll()">About</a></li>
    <li><a class="DB" href="#depart">Departmnet</a></li>
    <li><a class="CB" href="#contact">Contact</a></li>
    <li><a href="Component/Register/Register.php" >Register</a></li>
    <li><a href="Component/Login/Login.php" >Admin</a></li>
    </ul>

</nav>