<div class="center bg w-100 pt4">    
        <div  class=" center w-100">
            <h1 data-aos="zoom-in" class="about center Athelas "> About us</h1>
        </div>
        <div class="flex">
            <img data-aos="zoom-in-right" src="Component/About/image.png" class=" grow w-40 pt0 pa4" alt="jhjhj">
            <p data-aos="zoom-in-left" class="pa4  f3 w-60">Samrib University is a chartered University, duly recognized by the Higher Education Commission (HEC) of Pakistan. It is one of the oldest institutions in South Asia. The Founder of Pakistan, Quaid-e-Azam Mohammad Ali Jinnah, studied at this institution for about four and a half years from 1887-92.

Its campus is located in the commercial hub of Karachi, near I.I. Chundrigar Road (old McLeod Road) in vicinity of Habib Bank Plaza and MCB Tower. It is spread over more than eight acres of land and comprises some of the most beautiful colonial era buildings designed by architect James Strachan in 1880s. The Founder of Pakistan Quaid-e-Azam Mohammad Ali Jinnah studied at this institution for about four and a half year from 1887-92.

The SMI University has started with five departments, each offering graduate and undergraduate program. The departments are Media and Communication Studies, Computer Sciences, Business Administration, Environmental Sciences and Education.</p>
        </div>
</div>