
*{
    box-sizing: border-box;
}
label{
    width: 160px;
    display: inline-block;
}

form{
    background-color: rgb(226, 192, 141);
    color: white;
    padding: 10px;
    width: 900px;
    margin-left: 200px;
}
table{
    line-height: 35px;
    color:white;
}
#submit{
    margin-left: 350px;
    border-radius: 5px;
    
}
#reset{
    border-radius: 5px;
}

h3{
    text-align: center;
    align-items: center;
}
h2{
  
    text-align: center;
}
h1{
    margin-top: 1cm;
    text-align: center;
}